{% extends "complaintManager/base.html" %}
{% load staticfiles %}
{% load complaint_extras %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'complaintManager/css/status-keluhan.css' %}">
{% endblock %}

{% block content %}
  <div class="page-content-container">
    <div class="row">
      <div class="col-xs-12" id="info-keluhan">
        <div class="panel panel-default-borderless">
          <div class= "panel-heading">
            <h3>
              Informasi Keluhan
              {% if user.member.isSuperadmin %}
              <small>
                <a href="{% url 'complaintManager:complaint_edit' complaint.id %}" class="btn btn-warning">
                  Edit
                </a>
              </small>
              {% endif %}
            </h3>
            <hr>
          </div>
          <div class= "panel-body" id="keluhan-content">
            <div class = "row">
              <form>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="nama">Nama</label>
                    <p class="form-control" id="nama" disabled>{{complaint.member.user.first_name}} {{complaint.member.user.last_name}}</p>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="phone-number">Nomor telepon</label>
                    <p class="form-control" id="phone-number" disabled>{{complaint.member.phone}}</p>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <p class="form-control" id="email" disabled>{{complaint.member.user.email}}</p>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="origin">Kategori Sumber</label>
                    <p class="form-control" id="origin" disabled>{{complaint.member.role.origin}}</p>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="role">Rincian</label>
                    <p class="form-control" id="role" disabled>{{complaint.member.role}}</p>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="title">Judul Keluhan</label>
                    <p class="form-control" id="title" disabled>{{complaint.title}}</p>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="complaint-type">Jenis Keluhan</label>
                    <p class="form-control" id="complaint-type" disabled>{% for division in complaint.assigned_divisions.all %}
                      {{ division.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}</p>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="complaints">Keluhan</label>
                    <textarea class="form-control" rows="12" id="complaints" disabled>{{complaint.description}}</textarea>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="complaint-type">Leader</label>
                    <p class="form-control" id="sel1" disabled>{{complaint.leader.name}}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <h4>Lokasi Kejadian: {{complaint.location.name}}</h4>
                  <div id="map" style="height:500px; width:100%;"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <!-- tambahin di DB -->
                  <label for="dikerjakan">Dikerjakan Oleh:</label>
                  <ul class="list-group" id="unit-kerja">
                    {%for worker in complaint.worker_set.all %}
                    <li class="list-group-item">{{worker.name}} - {{worker.division}}</li>
                    {% endfor %}
                  </ul>
                  <!-- <p class="form-control-static" id="dikerjakan" disabled>Petugas PLN</p> -->
                </div>
                <div class="form-group">
                  <label for="media">Media:</label>
                  <div class="row">
                    {% for image in complaint.complaintimages_set.all %}
                      {% if not image.log %}
                      <div class="col-md-4">
                        <img src="{{ MEDIA_URL }}/{{ image.src }}" class="img-responsive">
                      </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="form-group">
                  <label for="log">Log Perubahan:</label>
                  <!-- <p class="form-control-static" id="log" disabled> -->
                  <ul class="list-group" id="unit-kerja">
                    {% for log in complaint.log_set.all %}
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-9">
                          <p>
                            {{log.date}} : {{log.description}}
                          </p>
                        </div>
                        <div class="col-md-3">
                          <div align="right">
                              <button class="btn btn-info" type="button" data-toggle="modal" data-target="#editlog" onclick="changeID({{log.pk}})">
                                  <div class="glyphicon glyphicon-pencil"></div>
                              </button>
                              <button class="btn btn-info" type="button" data-toggle="modal" data-target="#imagelog" onclick="changeID({{log.pk}})">
                                  <div class="glyphicon glyphicon-camera"></div>
                              </button>
                              <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#deletelog" onclick="changeID({{log.pk}})">
                                  <div class="glyphicon glyphicon-trash"></div>
                              </button>
                          </div>
                        </div>
                      </div>




                      <div class="row">
                        {% for image in log.complaintimages_set.all %}
                        <div class="col-md-4">
                          <img src="{{ MEDIA_URL }}/{{ image.src }}" class="img-responsive">
                        </div>
                        {% endfor %}
                      </div>


                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="form-group">
                  <label class="control-label" for="status">Status: </label>
                  <div class="status-indicator
                    {% if complaint.status == 'S' %}
                      mod-submitted
                    {% elif complaint.status == 'P' %}
                      mod-submitted
                      mod-progress
                    {% elif complaint.status == 'F' %}
                      mod-submitted
                      mod-progress
                      mod-finished
                    {% endif %}
                  ">
                    <div class="status-segment mod-submitted">
                      Submitted
                    </div>
                    <div class="status-connector mod-progress"></div>
                    <div class="status-segment mod-progress">
                      On Progress
                    </div>
                    <div class="status-connector mod-finished"></div>
                    <div class="status-segment mod-finished">
                      Finished
                    </div>
                  </div>
                </div>

                {% if not user.member.isSuperadmin %}
                {% if complaint|is_lead_by:user %}
                <button type="button" class="btn btn-default" id="update_status" data-toggle="modal" data-target="#updateStatus"> Update Status </button>

                {% endif%}

                <button type="button" class="btn btn-default" id="tambah-unit" data-toggle="modal" data-target="#addWorker">Tambah Pekerja</button>
                <button type="button" class="btn btn-default" id="tambah-log" data-toggle="modal" data-target="#addLog">Tambah Log</button>

                <a href="{% url 'complaintManager:complaint_list' %}" class="btn btn-primary" id="back">Back</a>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--Modal for add pekerja -->
    <div class="modal fade" id="addWorker" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Tambah Pekerja</h4>
          </div>
          <div class="modal-body">
            <div class="input-group col-xs-12" id="modal1">
              <form id="form-add-worker" action="{% url 'complaintManager:add_worker' complaint.pk %}" method="POST">
                {% csrf_token %}
                <span class="input-group col-md-12" id="modal1">Nama Pekerja</span>
                <input type="text" name="name" class="form-control input-group">
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="buttonworker" onclick="submitWorker()">Tambah</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
          </div>
        </div>
      </div>
    </div>


    <!--Modal for add Log -->
    <div class="modal fade" id="addLog" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Menambah Log</h4>
          </div>
          <div class="modal-body">
            <div class="input-group col-xs-12" id="modal1">
              <form id="form-add-log" action="{% url 'complaintManager:add_log' complaint.pk %}" method="POST">
                {% csrf_token %}
                <span class="input-group col-md-12" id="modal1">Menambah Log</span>
                <input type="textfield" name="description" class="form-control input-group">
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="buttonlog" onclick="submitLog()">Tambah</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
          </div>
        </div>
      </div>
    </div>


    <!--Modal delete -->
    <div class="modal fade" id="deletelog" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Menghapus Log</h4>
          </div>
          <div class="modal-body">
              Apakah anda yakin ingin menghapus Log ini?
              <form id="form-delete-log" action="{% url 'complaintManager:delete_log' complaint.pk %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="logPK" id="deleteValue" value="">
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="buttondeletelog" onclick="deletelog()">Hapus</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Batal</button>
          </div>
        </div>
      </div>
    </div>


    <!--Modal update-->
    <div class="modal fade" id="editlog" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Log</h4>
          </div>
          <div class="modal-body">
              <div class="input-group col-xs-12" id="modal1">
              <form id="form-update-log" action="{% url 'complaintManager:edit_log' complaint.pk %}" method="POST">
                {% csrf_token %}
                <span class="input-group col-md-12" id="modal1">Edit Log</span>
                <input type="text" name="description" class="form-control input-group">
                <input type="hidden" name="logPK" id="editValue" value="">
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="buttonedit" onclick="editlog()">Edit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
          </div>
        </div>
      </div>
    </div>


    <!--Modal tambah gambar-->
    <div class="modal fade" id="imagelog" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Image</h4>
          </div>
          <form id="form-image-log" action="{% url 'complaintManager:add_image_log' complaint.pk %}" method="POST" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="input-group col-xs-12" id="modal1">
                {% csrf_token %}
                <label id="modal1">Add Image</label>
                <input type="file" name="images" accept="image/*" multiple>

              </div>
              <input type="hidden" name="logPK" id="imageValue" value="">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success" id="buttonedit">Upload</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div class="modal fade" id="updateStatus" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Are You Sure ?</h4>
          </div>
          <div class="modal-body">
            <div class="status-indicator
              {% if complaint.status == 'S' %}
                mod-submitted
              {% elif complaint.status == 'P' %}
                mod-submitted
                mod-progress
              {% elif complaint.status == 'F' %}
                mod-submitted
                mod-progress
                mod-finished
              {% endif %}
            ">
              <div class="status-segment mod-submitted">
                Submitted
              </div>
              <div class="status-connector mod-progress"></div>
              <div class="status-segment mod-progress">
                On Progress
              </div>
              <div class="status-connector mod-finished"></div>
              <div class="status-segment mod-finished">
                Finished
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="{% url 'complaintManager:update_status' complaint.id %}" class="btn btn-success" id="update-status">Yes, Update</a>
            <!-- <button type="button" class="btn btn-success" data-dismiss="modal">Yes,Update</button> -->
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
function submitWorker(){
  document.getElementById("form-add-worker").submit();
}

function submitLog(){
  document.getElementById("form-add-log").submit();
}

function deletelog() {
  document.getElementById("form-delete-log").submit();
}

function editlog() {
    document.getElementById("form-update-log").submit();
}

function changeID(id) {
  document.getElementById("editValue").value = id;
  document.getElementById("deleteValue").value = id;
  document.getElementById("imageValue").value = id;
}
</script>

<script>
function initMap() {
    var lokasi = {lat: {{complaint.location.lat}}, lng: {{complaint.location.lon}}};
    console.log("loc : " + lokasi.lat + " " + lokasi.lng);

    var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: lokasi
      });
      setMarkers(map);
  }

  var locations = [
      // ['Labtek 6', -6.890146, 107.609810, 1], //labtek 6

      ['{{complaint.location.name}}', {{complaint.location.lat}} , {{complaint.location.lon}} , 1], //labtek 5
      // ['Labtek 7', -6.890115, 107.610814, 3], //labtek 7
      // ['Labtek 8', -6.890547, 107.610787, 4], //labtek 8
      // ['GKU Barat', -6.890448, 107.608865, 5], //gku barat
      // ['GKU Timur', -6.890340, 107.611872, 6], //gku timur
      // ['TVST', -6.889448, 107.610059, 7], //tvst
      // ['Oktagon', -6.889065, 107.610050, 8], //oktagon
      // ['USDI Comlabs', -6.889093, 107.610725, 9], //comlabs
      // ['Gedung Kerjasama PLN', -6.889439, 107.610728, 10], //PLN
      // ['Labtek Biru', -6.889041, 107.609398, 11], //labtek biru
      // ['Labtek X', -6.889566, 107.609427, 12], //labtek X
      // ['Mekanika Tanah', -6.889370, 107.611180, 13], //mektan
      // ['CADL', -6.888449, 107.609506, 14], //cadl
      // ['Gedung Pengembangan Riset dan Inovasi', -6.888337, 107.610042, 15], //pau
      // ['Perpustakaan Pusat', -6.888183, 107.610739, 16], //perpus
      // ['CAS', -6.888391, 107.611302, 17], //cas
      // ['Gedung Fisika', -6.891389, 107.608958, 18], //fisika
      // ['Gedung Teknik Sipil', -6.891943, 107.609183, 19], //sipil
      // ['Aula Barat', -6.892417, 107.609913, 20], //aula barat
      // ['Aula Timur', -6.892406, 107.610922, 21], //aula timur
      // ['Gedung Lingkungan', -6.891197, 107.611590, 22], //lingkungan
      // ['Gedung Planologi', -6.891555, 107.611302, 23], //plano
      // ['Gedung Geodesi', -6.891482, 107.611933, 24], //geodesi
      // ['Labtek XI-A Arsitektur', -6.891865, 107.611895, 25], //arsi
      // ['Gedung Seni Rupa', -6.892178, 107.611653, 26], //sr
      // ['Gedung FTMD', -6.889979, 107.608510, 27], //ftmd
      // ['Gedung Teknik Penerbangan', -6.889340, 107.608529, 28], //aero
      // ['Gedung Matematika', -6.888728, 107.608593, 29], //matematika
      // ['Gedung SBM', -6.888126, 107.608708, 30] //sbm
  ]

  function setMarkers(map) {
    var image = {
      url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
      size: new google.maps.Size(20, 32),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(0, 32)
  };
    var shape = {
      coords: [1, 1, 1, 20, 18, 20, 18, 1],
      type: 'poly'
    };
    for (var i = 0; i < locations.length; i++) {
      var loc = locations[i];
      var tit = locations[i][0];
      var marker = new google.maps.Marker({
          position: {lat: loc[1], lng: loc[2]},
          map: map,
          icon: image,
          shape: shape,
          title: loc[0],
          zIndex: loc[3],
       });
    }


}
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuR7Z1yfZkNc2FIPYpqJOnNgY-CCH2Ptc&callback=initMap">
</script>
{% endblock %}
