{% extends "complaintManager/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-light">
            <div class="panel-heading">
                <h3 class="panel-title">Menyunting Keluhan</h3>
            </div>
            <div class="panel-body desc-panel">
                <div class="row">
                    <div class="col-md-12">
                        <form method="POST" action="{% url 'complaintManager:complaint_edit' pk %}">
                        {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label" for="{{ complaint_form.username.id_for_label }}">Judul :</label>
                                {{ complaint_form.title }}
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="{{ complaint_form.assigned_divisions.id_for_label }}">Jenis Keluhan :</label>
                                {{ complaint_form.assigned_divisions }}
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="{{ complaint_form.leader.id_for_label }}">Divisi Leader Keluhan :</label>
                                {{ complaint_form.leader }}
                                {% if complaint_form.leader.errors %}
                										<ul class="error-list">
                										{% for error in complaint_form.leader.errors %}
                												<li style="color: red;">{{ error|escape }}</li>
                										{% endfor %}
                										</ul>
                								{% endif %}
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="{{ complaint_form.description.id_for_label }}">Deskripsi :</label>
                                {{ complaint_form.description }}
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="{{ complaint_form.priority.id_for_label }}">Prioritas :</label>
                                {{ complaint_form.priority }}
                            </div>
                            <div class="form-group">
                                {% if complaint_form.reported.errors %}
                                    <ul>
                                    {% for error in complaint_form.reported.errors %}
                                        <li style="color: red;">{{ error|escape }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                <label class="control-label" for="{{ complaint_form.reported.id_for_label }}">Waktu laporan :</label>
                                {{ complaint_form.reported }}
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="{{ complaint_form.status.id_for_label }}">Status :</label>
                                {{ complaint_form.status }}
                            </div>
                            <div class="edit-buttons">
                                <button type="submit" class="btn btn-success">Save</button>
                                <a href="{% url 'complaintManager:complaint_delete' pk %}" class="btn btn-danger pull-right">Delete</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>
<script>
	initLeaderOption();

    function initLeaderOption() {
		var options = $('#id_complaint-leader').children();
		for (var i = 1; i < options.length; i++) {
			var option = options[i];
			$(option).prop('disabled', true);
		}
        var selectedOptions = $('input[type=checkbox]:checked');
        for (var i = 0; i < selectedOptions.length; i++) {
			var opt = selectedOptions[i];
			console.log("valueSelected:"+opt.value);
			changeVisibility(opt.value);
		}
	}

	addCheckBoxOnChange();
	function addCheckBoxOnChange() {
		var options = $('input[type=checkbox]');
		for (var i = 0; i < options.length; i++) {
			var option = options[i];
			console.log(option.value);
			option.onchange = function(e){
				changeVisibility(e.target.value)
			}
		}
	}
	

	
	function changeVisibility(divisionValue) {
		console.log("masukCV"+divisionValue);
		var leaderOption = $('#id_complaint-leader').children();
		for (var i = 1; i < leaderOption.length; i++) {
			var selectLeader = leaderOption[i];
			if (selectLeader.value==divisionValue) {
				console.log("sama"+selectLeader.value);
				if ($(selectLeader).prop('disabled')==true) {
					$(selectLeader).prop('disabled', false);
				} else {
					$(selectLeader).prop('disabled', true);					
				}
			}
		}
	}
	// hideRoleOptions();
	function hideDivisionOptions(){
		var none = true;
		var origin = $('#id_member_form-origins');
		var options = $('#id_member-role').children();
		$(options[0]).prop('selected', true);
		if (origin.val() === '') {
			none = true;
			for (var i = 1; i < options.length; i++) {
				var option = options[i];
				$(option).prop('disabled', true);
			}
		} else {
			none = false;
		}
		console.log("none="+none);
		if (!none){
			var valueSelected  = origin.find("option:selected");
			var origin_name   = valueSelected.text();
			data = {'origin' : origin_name };
			ajax('/getRoles',data,function(result){
				if (result.length==0) {
					for (var i = 1; i < options.length; i++) {
						var option = options[i];
						$(option).prop('disabled', true);
					}
				} else {
					console.log("masuk result!=0")
					for (var i = 1; i < options.length; i++) {
						var option = options[i];
						var found = false;
						var j=result.length-1;
						while (!found && j>=0){
							if (result[j].name==option.text) {
								found=true;
							} else {
								j--;
							}
						}
						console.log("abis while");
						if (!found) {
							$(option).prop('disabled', true);
						} else {
							$(option).prop('disabled', false);
						}
					}	
				}
			});
		}
	}
</script>
{% endblock %}
