{% extends "complaintManager/base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default panel-light">
	    	<div class="panel-heading">
				<h3 class="panel-title">Form Pelaporan Keluhan</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<h4>Silakan isi form keluhan anda di bawah ini</h4>
						<form method="POST" action="{% url 'complaintManager:complaint_create' %}" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="form-group">
								<label class="control-label" for="informer">Nama Pelapor</label><br/>
								{{ user.first_name }} {{user.last_name}}
							</div>
							<div class="form-group">
								<label class="control-label" for="phone-number">Nomor Telepon</label><br/>
								{{user.member.phone}}
								{% if informer_form.phone_number.errors %}
										<ul class="error-list">
										{% for error in informer_form.phone_number.errors %}
												<li style="color: red;">{{ error|escape }}</li>
										{% endfor %}
										</ul>
								{% endif %}
							</div>
							<div class="form-group">
								<label class="control-label" for="email">E-mail</label><br/>
								{{user.email}}
								{% if informer_form.email.errors %}
										<ul class="error-list">
										{% for error in informer_form.email.errors %}
												<li style="color: red;">{{ error|escape }}</li>
										{% endfor %}
										</ul>
								{% endif %}
							</div>
							<div class="form-group">
								<label class="control-label" for="origin">Kategori Sumber</label><br/>
								{{user.member.role.origin}}
							</div>
							<div class="form-group">
								<label class="control-label" for="origin">Rincian Sumber</label><br/>
								<!-- {{informer_form.origin}} -->
								{{user.member.role}}
							</div>
							<div class="form-group">
								<label class="control-label" for="title">Subjek Keluhan</label>
								{{complaint_form.title}}
							</div>
							<div class="form-group">
								<label class="control-label" for="location">Nama Lokasi Keluhan</label>
								{{location_form.name}}
							</div>
							<div class="form-group">
								{{complaint_form.assigned_divisions}}
							</div>

							</div>
				 			<div class="form-group">
								<label class="control-label" for="leader">Divisi Leader Keluhan</label>
								{{complaint_form.leader}}
								{% if complaint_form.leader.errors %}
										<ul class="error-list">
										{% for error in complaint_form.leader.errors %}
												<li style="color: red;">{{ error|escape }}</li>
										{% endfor %}
										</ul>
								{% endif %}
							</div>
							<div class="form-group">
								<label class="control-label" for="description">Keluhan</label>
								{{complaint_form.description}}
							</div>
							<div class ="form-group">
								<label class="control-label" for="files">Masukkan Gambar</label>
								<input type="file" name="images" accept="image/*" multiple>
							</div>
							<div class="text-right">
								<button type="submit" class="btn btn-default">Submit</button>
							</div>
							{{location_form.lat}}
							{{location_form.lon}}
						</form>
					</div>
					<div class="col-md-6">
						<h4>Lokasi Kejadian: </h4>
						<div id="map" style="height:400px; width:100%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>
<script>
	initLeaderOption();
	addCheckBoxOnChange();
	function addCheckBoxOnChange() {
		var options = $('input[type=checkbox]');
		for (var i = 1; i < options.length; i++) {
			var option = options[i];
			console.log(option.value);
			option.onchange = function(e){
				changeVisibility(e.target.value)
			}
		}
	}
	
	function initLeaderOption() {
		var options = $('#id_complaint-leader').children();
		for (var i = 1; i < options.length; i++) {
			var option = options[i];
			$(option).prop('disabled', true);
		}
	}
	
	function changeVisibility(divisionValue) {
		console.log("masukCV"+divisionValue);
		var leaderOption = $('#id_complaint-leader').children();
		for (var i = 1; i < leaderOption.length; i++) {
			var selectLeader = leaderOption[i];
			if (selectLeader.value==divisionValue) {
				console.log("sama"+selectLeader.value);
				if ($(selectLeader).prop('disabled')==true) {
					$(selectLeader).prop('disabled', false);
				} else {
					$(selectLeader).prop('disabled', true);					
				}
			}
		}
	}
	// hideRoleOptions();
	function hideDivisionOptions(){
		var none = true;
		var origin = $('#id_member_form-origins');
		var options = $('#id_member-role').children();
		$(options[0]).prop('selected', true);
		if (origin.val() === '') {
			none = true;
			for (var i = 1; i < options.length; i++) {
				var option = options[i];
				$(option).prop('disabled', true);
			}
		} else {
			none = false;
		}
		console.log("none="+none);
		if (!none){
			var valueSelected  = origin.find("option:selected");
			var origin_name   = valueSelected.text();
			data = {'origin' : origin_name };
			ajax('/getRoles',data,function(result){
				if (result.length==0) {
					for (var i = 1; i < options.length; i++) {
						var option = options[i];
						$(option).prop('disabled', true);
					}
				} else {
					console.log("masuk result!=0")
					for (var i = 1; i < options.length; i++) {
						var option = options[i];
						var found = false;
						var j=result.length-1;
						while (!found && j>=0){
							if (result[j].name==option.text) {
								found=true;
							} else {
								j--;
							}
						}
						console.log("abis while");
						if (!found) {
							$(option).prop('disabled', true);
						} else {
							$(option).prop('disabled', false);
						}
					}	
				}
			});
		}
	}
</script>

<script>
	function initMap() {
    	var intel = {lat: -6.890359, lng: 107.610379};
    	var map = new google.maps.Map(document.getElementById('map'), {
          	zoom: 17,
          	center: intel
        });
        setMarkers(map);
  	}

  	var locations = [
        ['Labtek 5', -6.890533, 107.609864, 2], //labtek 5
    ]

    function setMarkers(map) {
	  	var image = {
		    url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
		    size: new google.maps.Size(20, 32),
		    origin: new google.maps.Point(0, 0),
		    anchor: new google.maps.Point(0, 32)
	 	};
	  	var shape = {
	    	coords: [1, 1, 1, 20, 18, 20, 18, 1],
	    	type: 'poly'
	  	};
	  	for (var i = 0; i < locations.length; i++) {
	    	var loc = locations[i];
	    	var tit = locations[i][0];
	    	var marker = new google.maps.Marker({
	      		position: {lat: loc[1], lng: loc[2]},
	      		map: map,
	      		icon: image,
	      		shape: shape,
	      		zIndex: loc[3],
	      		draggable: true,
	   		 });
			google.maps.event.addListener(marker, 'dragend', function (event) {
			    document.getElementById("lat").value = this.getPosition().lat();
			    document.getElementById("lng").value = this.getPosition().lng();
			});
	  	}
	}
	document.getElementById("lat").value = -6.890533;
	document.getElementById("lng").value = 107.609864;
</script>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuR7Z1yfZkNc2FIPYpqJOnNgY-CCH2Ptc&callback=initMap">
</script>
{% endblock %}
