{% extends "complaintManager/base.html" %}

{% block content %}
<form class="search-input">
    <div class="input-group col-md-12">
        <input type="text" class="form-control" name="q" value="{{q}}" placeholder="Insert your search keyword" />
        <span class="input-group-btn">
            <button class="btn btn-info" type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div>
</form>
<br>
<div class="panel panel-default panel-light">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-4">
        <h4 clas="panel-title">Daftar Asal Pengguna</h3>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-1 text-right">
        <h4>Filter:</h4>
      </div>
      <div class="col-md-2">
        <form id="master_origin">
          <select class="form-control" name="category" onchange="$('#master_origin').submit()">
            <option value="" {% if category == '' %} selected {% endif %}>All</option>
            <option value="Pimpinan" {% if category == 'Pimpinan' %} selected {% endif %}>Pimpinan</option>
            <option value="Unit" {% if category == 'Unit' %} selected {% endif %}>Unit ITB</option>
            <option value="Intern" {% if category == 'Intern' %} selected {% endif %}>Intern Direktorat Sarana dan Prasarana</option>
            <option value="Civitas" {% if category == 'Civitas' %} selected {% endif %}>Civitas Akademik</option>
            <option value="Eksternal" {% if category == 'Eksternal' %} selected {% endif %}>Eksternal ITB (Masyarakat, Tamu, dan Umum)</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel-body nopadding">
      <table class="table table-condensed table-hover summary-report">
        <tbody id="summary_report">
          <tr>
            <th>Kategori Asal</th>
            <th>Detail Asal</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          {% for origin in origins %}
          <tr>
            <td class="{{origin.master_origin}}">
              <span id="master-{{origin.pk}}">{{ origin.master_origin }}</span>
              <select class="form-control" id="edit-master-{{origin.pk}}" style="display: none">
                <option value="Pimpinan">Pimpinan</option>
                <option value="Unit">Unit ITB</option>
                <option value="Intern">Intern Direktorat Sarana dan Prasarana</option>
                <option value="Civitas">Civitas Akademik</option>
                <option value="Eksternal">Eksternal ITB (Masyarakat, Tamu, dan Umum)</option>
              </select>
            </td>
            <td>
              <span id="specific-{{origin.pk}}">{{ origin.specific_origin }}</span>
              <input style="display: none" class="form-control" id="edit-specific-{{origin.pk}}" maxlength="20" type="text" value="{{origin.specific_origin}}">
            </td>
            <td>
              <button id="edit-{{origin.pk}}" class="btn btn-primary edit-btn">Edit</button>
              <button id="save-{{origin.pk}}" class="btn btn-success save-btn" style="display: none">Save</button>
            </td>
            <td>
              <form method="POST" action="{% url 'complaintManager:informer_origin_delete' origin.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-4">
  <h4>Tambah Asal Pelapor</h4>
  <br>
  <form method="POST" action="{% url 'complaintManager:informer_origin_add' %}">
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label" for="{{ user_form.master_origin.id_for_label }}">Kategori:</label>
      {{ form.master_origin }}
    </div>
    <div class="form-group">
      <label class="control-label" for="{{ user_form.specific_origin.id_for_label }}">Pekerjaan/Jabatan:</label>
      {{ form.specific_origin }}
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
<form id="edit-origin-form" method="POST" action="{% url 'complaintManager:informer_origin_edit' 2 %}" style="display: none">
  {% csrf_token %}
  {{ form.master_origin }}
  {{ form.specific_origin }}
  <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block script %}
<script>
  $('.edit-btn').click(function() {
    var id = $(this)[0].id.split("-")[1]
    $('#edit-master-' + id).show();
    $('#edit-master-' + id).val($('#master-' + id).html());
    $('#edit-specific-' + id).show();
    $('#save-' + id).show();
    $('#master-' + id).hide();
    $('#specific-' + id).hide();
    $('#edit-' + id).hide();
  });

  $('.save-btn').click(function() {
    var id = $(this)[0].id.split("-")[1]
    $('#edit-origin-form').attr('action', '/informer_origins/' + id + '/edit')
    $('#edit-origin-form #id_master_origin').val($('#edit-master-' + id).val())
    $('#edit-origin-form #id_specific_origin').val($('#edit-specific-' + id).val())
    $('#edit-origin-form').submit()
  })
</script>
{% endblock %}
