{% extends "complaintManager/base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default panel-light">
	    	<div class="panel-heading">
				<h3 class="panel-title">Pembuatan Role Baru</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<form method="POST" action="{% url 'complaintManager:role_management_add' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label" for="{{ role_form.code.id_for_label }}">Kode :</label>
                                {{ role_form.code }}
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="{{ role_form.name.id_for_label }}">Nama role :</label>
                                {{ role_form.name }}
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="{{ role_form.divisions.id_for_label }}">Akses divisi :</label>
                                {{ role_form.divisions }}
                            </div>

							<button type="submit" class="btn btn-primary pull-right">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function activateRoles() {
		var originSelected = document.getElementById('id_member_form-origins').selectedIndex;
		var internSapras = ['PU', 'PG', 'OG', 'KS', 'IA', 'PDA',
							'PHA', 'PD', 'S', 'D', 'WD', 'KAI', 'KO', 'KPA', 'SA'];
		
		setVisibility(internSapras, "hide");
		
		switch (originSelected) {
			case 1 :
				break;
			case 2 :
				break;
			case 3 :
				 setVisibility(internSapras, "show");
				break;
			case 4 :
				break;
			case 5 :
				break;
			default :
				break;
		}
	}

	function setVisibility(roleArray, roleVisibility) {
		for (i = 0; i < roleArray.length; i++) {
			changeVisibility(roleArray[i], roleVisibility);
		}
	}

	function changeVisibility(optionName, optionVisibility) {
		console.log(optionName);
		console.log(optionVisibility);
		if (optionVisibility === "show") {
			document.getElementById(optionName).style.display = "block";
			console.log("Changed to visible");
		} else if (optionVisibility === "hide") {
			document.getElementById(optionName).style.display = "none";
			console.log("Changed to none");
		}
		
	}
</script>

{% endblock %}
